.popdownCard{
    margin-left: 10%;

    margin-right: 41%;
}
.popupCard{
    height: 34px;
    width: 464px;
    margin-top: 5%;
    height: 46px !important;
}

.topinput
{
    width: 80%;
    border: 0;
}

.input
{
width: 430px;

border: rgb(255, 227, 191);
}

input.input:focus{
outline-width: 0; 
}

.matcard {
    padding: 10px;
    margin-block-start: -29px;
}
.matcard1
{
  
    max-width: 77%;
     margin-top: -75px;
}


.mat{
  
    width: 260%;
}
.mainDiv
  {
    min-height: -webkit-fill-available;
  }

  .divEdit
  {
    height: 250px;
  }